<link rel="stylesheet"type="text/css" href="/static/main.css">

{{ collection }}

<br/>
<a href="/paper/new?add_to={{ collection.pk }}">Add new paper</a>

{% if collection.papers.all %}
<table>
    <tr>
        <th>Paper</th>
        <th>PDF</th>
        <th>Priority</th>
        <th>% Read</th>
        <th></th>
        <th>Notes</th>
    </tr>

    {% for memb in members %}
    <tr>
        <td>{{ memb.paper.title }}</td>
        <td>
            {% if memb.paper.pdf_url %}
                <a href="{{memb.paper.pdf_url}}">PDF</a>
            {% else %}
            <a href="/paper/{{ memb.paper.pk }}/find_pdf?back={{ back_url }}">Find</a>
            {% endif %}
        </td>
        <td>{{ memb.priority }} </td>
        <td>{{ memb.read }} </td>
        <td>
            <a href="/collection/{{collection.pk}}/edit/{{memb.paper.pk}}?back={{ back_url }}">edit</a>
        </td>
        <td>{{ memb.notes }} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No papers added to this collection yet.</p>
{% endif %}
